[Desktop Entry]
Name=Lightroom Sync
Exec=sudo -u tfeng /bin/bash -c "(cd /opt/dev/lightroom-sync && while true; do /usr/bin/node lightroom-sync.js; sleep 1; done)"
